body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 800px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background-color: #eaeaea;
}
.hidden {
  display: none;
}
.expand {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.action-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.action-button:hover {
  background-color: #0056b3;
}
select,
input,
button {
  padding: 8px;
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
}
select {
  width: 150px;
}
#resultsTable {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}
.controls {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.date-row,
.category-row {
  font-weight: bold;
  background-color: #adadad;
}
.category-row {
  background-color: #ececec59;
}

@media (max-width: 600px) {
  table {
    font-size: 14px;
  }
  th,
  td {
    padding: 1px;
    border: 1px solid #ccc;
  }
}

/*         body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .container {
            width: 80%;
            max-width: 800px;
            background: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        button {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: #0056b3;
        }
        .input-container {
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .date-row, .category-row {
            font-weight: bold;
            background-color: #ddd;
        }
        .category-row {
            background-color: #ccc;
        }
             */
