body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container {
  width: 90%;
  max-width: 800px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  white-space: nowrap;
}
th {
  background-color: #eaeaea;
}

form#auth-form {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

form#auth-form h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

form#auth-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

form#auth-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
}

form#auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form#auth-form button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  table {
    font-size: 14px;
  }
  th,
  td {
    white-space: collapse;
  }
  form#auth-form {
    padding: 15px;
  }
  form#auth-form h2 {
    font-size: 1.2em;
  }
  form#auth-form input {
    font-size: 0.9em;
  }
  form#auth-form button {
    font-size: 0.9em;
  }
}
